
.trailerIframe{
    height: 300px;
    width: 450px;
}
.showOnMobile{
    display: none;
}


/* Phone */
@media (max-width: 1024px){
    .trailerIframe{
        height: 250px;
        width: 100%;
    }
    .removeOnMobile{
        display: none;
    }
    .showOnMobile{
        display: flex;
    }
    
}
