#logo{
    width: 100%;
    height: 150px;
    display: flex;
}

#logo img{
    height: 100%;
}

.currentSeason{
    color: rgba(0, 0, 0,0.5);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}

/* Phone */
@media (max-width: 1024px){

    #logo{
        display: none;
    }
}
.searchSection {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
