
.showOnMobile {
    display: none;
}


/* Phone */
@media (max-width: 1024px) {
    

    .removeOnMobile {
        display: none; /* Cache les éléments sur mobile */
    }

    .showOnMobile {
        display: flex; /* Affiche les éléments sur mobile */
    }
}

