#root {
  width: 100%;
}
.btn-purple{
  background-color: #A5759D;
  color: rgba(255, 255, 255,0.5);
  height: 50px;
  border-radius: 25px;
  transition: 0.3s ease;
}

.btn-purple:hover{
  background-color: #D9D9D9;
  color: black;
  border-color: #D9D9D9;
}
